:css
  .img_size{
    max-width: 300px;
    max-height: 300px;
  }
  .fl {
    float:left;
  }
  .create_btn
  {
    padding-left: 30px;
  }
  .card{
  margin-left:30px;
  margin-right:30px;
  }
  .delete_post
  {
    float:right;
    text-decoration: none;
    cursor:pointer;
    color:#000;
  }
  .delete_post:hover{
    text-decoration: none;
    color:#000;
  }
  .title
  {
    color:#000;
  }
  .title:hover{
    text-decoration: none;
    color:#000;
  }
  .like:hover{
    animation: shake 0.3s;
    animation-iteration-count: 2s;
  }
  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }


- if flash[:notice]

  %b= flash[:notice]
%br
%br
.create_btn
  =link_to("WRITE A POST",posts_new_path,:class=>"btn btn-success")
%br
- @posts.each do |p|
  %div{:id => "#{p.id}"}
    %div.card
      %div.panel.panel-info
        %div.panel-heading
          %b
            %a{:href=>"/posts/3",:class=>"title"}#{p.title.truncate(30).capitalize}
          -if current_user.id == p.user_id.to_i 
            %a.delete_post{'data-id'=>"#{p.id}"} X
        - if p.avatar.present?
          %div.panel-body.fl
            %img.img_size{:src=>p.avatar}
        %div.panel-body
          %b=p.description.truncate(100)
        .row
          .col-md-1
            - if p.likes.where("is_liked =? and user_id =?",true,current_user.id).present?
              %div.panel-body
                %img{:src => "/assets/unlike",:height =>"30px",:width => "30px",:id => "like_post",:class => "like_post_icon"+"#{p.id} like",:onclick => "like_post(#{p.id})" ,:style=>"cursor:pointer;"}
            -else
              %div.panel-body
                %img{:src => "/assets/like",:height =>"30px",:width => "30px",:id => "like_post",:class => "unlike_post_icon"+"#{p.id} like",:onclick => "like_post(#{p.id})",:style=>"cursor:pointer;"}
          .col-md-3  
            %div.panel-body
              %b Posted 
              #{time_ago_in_words(p.created_at)} ago
          .col-md-3
            %div.panel-body 
              %b Posted by :
              #{p.user.email}
          .col-md-4 
            %div.panel-body 
              %b No of comments: 
              #{p.comments.where("is_archive =? ",false).count}     


:javascript

  $(".delete_post").click(function() 
    {
      swal({
      title: "Are you sure?",
      text: "Once deleted, you will not be able to revert back!",
      icon: "warning",
      buttons: true,
      dangerMode: true,
      })
      .then((willDelete) => {
        if (willDelete) {      
        var id = $(this).data('id');
        $.ajax({
          type: 'DELETE',
          url: "/posts/delete_post/"+id,
          data:{'post_id': id},
          success: function(data)
          { 
            $("#"+data).remove();
            swal("Poof! Your post has been deleted!", {
              icon: "success",
            });
          }, 
          error: function(data){ alert('error'); } 
        })
        } else 
        {
          swal("We did not delete your post");
        }
      });
      
    });


    function like_post(id) 
    {
      var post_id = id;
      var x = $( "img" ).hasClass( "like_post_icon"+id );
      $.ajax({
        type: 'PATCH',
        url: "/posts/like_post/"+id,
        data:{'like_boolean': x},
        success: function(data)
        { 
          
        }, 
        error: function(data){ alert('error'); } 
      })  
     
    }
