%h2 Create a new Post
= form_for (@post),url: posts_create_path do |f|
  .field
    = f.label :Title
    %br
    = f.text_field :title,:class=>"form-control"
  .field
    = f.label :Description
    %br
    = f.text_area :description,:class=>"form-control"
  %br
  .field
    =f.label :Photo
    = f.file_field :avatar 
  %br
  .actions
    =button_tag "Create",:class =>"btn btn-success"